<% include ../partials/header.ejs %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1><i class="fa fa-picture-o"></i> Welcome To Image Gallery</h1>
            <p>View all random images picked currently from the Internet (will be adding file upload features soon)</p>
            <p>
                <a class="btn btn-primary btn-large" href="/images/new">Add New Image</a>
            </p>
        </div>
    </header>

    <div class="row">
        
    </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% images.forEach(function(image){ %>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="<%= image.image %>">
                    <div class="caption">
                        <h4><%= image.name %></h4>
                    </div>
                    <p>
                        <a class="btn btn-primary" href="/images/<%= image.id %>">More info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<%include ../partials/footer.ejs %>